body {
    font-family: Arial, sans-serif;
    /* margin: 0;
    padding: 48px;
    width: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
  }

  .container {
    display: flex;
    /* width: 1440px; */
    /* height: 900.5px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .image-container {
    display: flex;
    /* flex: 1 1 1 1; */
    align-self: stretch;
  }

  .image-container img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .form-container {
    flex: 1;
    padding: 20px;
  }

  .logo-container {
    flex-wrap: wrap;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }

  form {
    max-width: 400px;
    margin: 48px 48px;
  }

  .form-container .logo {
    color: var(--Main-Body, #23155B);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    flex: auto;
  }
  .nice {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding: 48px 0 24px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  label[for="username"] {
    color: var(--black-800333333, #333);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 109.091% */
    letter-spacing: 0.3px;
    padding: 0 16px;
  }

  label[for="password"] {
    color: var(--black-800333333, #333);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 109.091% */
    letter-spacing: 0.3px;
    padding: 0 16px;
  }

  input {
    margin: 6px;
    display: flex;
    width: 360px;
    padding: 8px 8px 8px 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 6px;
    border: none;
    background-color: #f2f2f2;
  }

  button {
    background-color: #8053FF;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
  }

  .signin button {
    /* display: flex; */
    padding: 10px 24px;
    margin: 32px 0;
    font-size: 15px;
    font-style: normal;
  }
  .forgotpassword button {
    color: #007AFF;
    background-color: white;
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.3px;
    flex: 1 0 0;
  }

  .google img {
    display: flex;
    width: 20px;
    height: 20px;
  }
  .google button {
    margin: 100px 0 0 0;
    /* background-color: blue; */
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 32px 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
  }

  .google img {
    margin-right: 10px; /* Jarak antara gambar dan teks */
    max-width: 100%;
  }